.aside {
	height: calc(100vh - 66px);
	position: sticky;
	top: 66px;
	border-right: var(--primary-o30) solid 1px;
	overflow: auto;
}
.aside_menu {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.aside_menu a {
	padding: 0.5rem 1rem;
	display: flex;
	background: var(--bg-gray-o30);
	border-radius: var(--br-m);
}
.aside_menu a span:last-child {
	margin-left: auto;
	padding-left: 1rem;
}
.aside_menu a.active {
	background: var(--bg-gray-o50);
	color: var(--primary);
	cursor: default;
}
.aside_menu a:hover {
	background: var(--bg-gray-o70);
}
