.aside {
	height: calc(100vh - 66px);
	position: sticky;
	top: 66px;
	border-right: var(--primary-o30) solid 1px;
	overflow: auto;
	padding: 0.5rem;
	background-color: var(--background);
}
.aside_menu {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.aside_menu a {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	background: var(--bg-gray-o30);
	border-radius: var(--br-m);
}
.aside_menu a span:last-child {
	margin-left: auto;
	padding-left: 1rem;
}
.aside_menu a.active {
	background: var(--bg-gray-o50);
	color: var(--primary);
	cursor: default;
}
.aside_menu a:hover {
	background: var(--bg-gray-o70);
}

.aside_brg {
	display: none;
	cursor: pointer;
}
/* .aside_brg:hover {
	background: var(--bg-gray-o70);
} */
@media screen and (max-width: 850px) {
	.aside_brg {
		display: block;
		position: fixed;
		z-index: 11;
		bottom: 0;
		width: 100%;
		height: 50px;
		background: var(--background);
		padding: 0.5rem 0 1rem;
	}
	.aside {
		position: fixed;
		z-index: 10;
		left: -100%;
		transition: all 0.2s ease-in-out;
		width: 100%;
		height: calc(100dvh - 66px - 50px);
		left: -100%;
		bottom: 40px;
		/* top: auto; */
		/* bottom: -100%; */
	}
	.aside.open {
		left: 0;
	}
}
