:root {
	--br-l: 15px;
	--br-m: 10px;
	--br-s: 5px;
	--br-xs: 2px;
	/* --background: #ffffff;
	--foreground: #171717; */
	--background: #111111;
	--foreground: #ededed;
	--primary: #fa7701;
	--primary-o30: #fa77014f;
	--primary-o50: #fa77017d;
	--bg-gray-o30: rgb(29, 29, 29);
	--bg-gray-o50: rgb(63, 63, 63);
	--bg-gray-o70: rgb(102, 102, 102);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #111111;
		--foreground: #ededed;
	}
}

html,
body {
	/* overflow-x: hidden; */
	max-width: 100vw;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist-mono), Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
}
::-webkit-scrollbar {
	appearance: none;
	width: 3px;
}
::-webkit-scrollbar-track {
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
h1,
h2,
h3,
h4 {
	font-family: var(--font-geist-sans);
}

button {
	background: transparent;
	color: var(--foreground);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: var(--br-s);
	cursor: pointer;
	font-size: 0.8rem;
	line-height: 1;
	transition: all 0.2s ease-in-out;
}

.page-wrp {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.content {
	padding: 0.5rem;
}

/* custom-toast.css */
.custom-toast {
	color: #fff;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	border-left: 4px solid var(--primary);
}

.custom-toast .Toastify__progress-bar {
	background: var(--primary);
	opacity: 1;
}
.Toastify__toast-icon svg {
	fill: var(--primary);
}
.custom-toast .ban_btn,
.custom-toast .hide_btn {
	margin-top: 0.5rem;
	transition: all 0.1s ease-in-out;
	padding-inline: 2rem;
}
.custom-toast .ban_btn {
	border: 1px solid red;
}
.custom-toast .ban_btn svg,
.custom-toast .hide_btn svg {
	transition: all 0.1s ease-in-out;
}
.custom-toast .ban_btn:hover {
	box-shadow: 0 0 10px red;
}
.custom-toast .ban_btn:hover svg,
.custom-toast .hide_btn:hover svg {
	transform: scale(1.2);
}
.custom-toast .hide_btn {
	border: 1px solid yellow;
	margin-left: 1rem;
}
.custom-toast .hide_btn:hover {
	box-shadow: 0 0 10px yellow;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader {
	animation: loader 1s linear infinite;
}

@media screen and (max-width: 850px) {
	.page-wrp {
		grid-template-columns: 1fr;
	}
	/* .content {
		padding: 0.5rem;
	} */
}
